<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://down-load.lanrar.com/file/?B2ECPA8+BzYBCFNrAzZVOVtkV29eaFMTBGwDfV1eBDcJJ1QyD3xUMgV9VGsBJVMzWydUNwA2VzkKaAdeBTBQNQc6AmQPagdkAWRTMQNlVWJbNFdhXidTNwRwAzhdNwQyCTxUOg9kVDIFa1Q1AXNTIltxVGwAbVdlCj8HNQV2UGEHMQJ6D2AHYAF4UzwDY1VjWzVXMV4yU2AEYgNhXTIEZwlqVDMPa1RiBWZUOwExU2JbN1RlAG9XYQo5BzEFblBmB2UCMw9nB2UBYVMrAz5VJFtgV3RedFMiBGYDd11oBGEJNFQ1D2dUNQVlVDMBZlN0W3VUOAAyVzAKawc8BWhQZgc2AmwPYwdgAWJTMANkVWZbL1d8XidTNwRvA3JdPAQ1CS9Udg8iVHcFblQzAWJTY1s4VGAAbFdhCjwHNwVrUHcHcgI8DyIHbgFmUzQDZVV6WzJXZF4vU2AEMQM9XS8ENAkxVDEPfFQmBTdUbQEiUzxbXlQyADRXaAo9</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>下载时大图（非必填）</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>下载时小图（非必填）</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>BundleID（必填）</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>副标题（非必填）</string>
                <key>title</key>
                <string>应用名（必填）</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>